@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@500&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #ecece5;
    --cor-terciaria:#292521;
    --cor-quatro: #aaa2a2;


}

*{
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0% 0% 8%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
   
}
.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.titulo_destaque {
    color: var(--cor-principal);
}
.apresentacao {
    margin:8% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.apresentacao__links{
    display: flex;
    font-size: 0.70rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.subtitulos_dos_links {
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
}

.apresentacao__link__redes{

    /*background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    border: 3px solid var(--cor-terciaria);
    width: 40%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.0rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-principal);
    font-family: 'Roboto', sans-serif;
    }

    .apresentacao__link__redes:hover{
        background-color: var(--cor-quatro);
    }

.imagem_tamanho img {
    max-width:1920px;
    max-height:1080px;
    width: 50%;
    height: 50%;
}

@media (max-width: 1280px) {

    .cabecalho {
        padding: 6%;
        
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        justify-content: center;
        flex-direction: column-reverse;
        padding: 5%;
        
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .imagem_tamanho {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

  
}